<!DOCTYPE html>
<html>
  <head>
    <title>{{Claims-Depot}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Claims-Depot</p>


    <script src='/javascripts/script.js'></script>
  </body>
</html>
